span.wave {
    animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;          /* Change to speed up or slow down */
    animation-iteration-count: infinite;    /* Never stop waving :) */
    transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
    display: inline-block; 
     
}

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8,
.js--wp-9,
.js--wp-10{
  opacity: 0;
}


.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated,
.js--wp-9.animated,
.js--wp-10.animated{
  opacity: 1;
}


  
@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
    10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
    20% { transform: rotate( 12.0deg) }
    30% { transform: rotate(-10.0deg) }
    40% { transform: rotate(  9.0deg) }
    50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}


//grow underline 
@keyframes underline-animation{
  0%{
    opacity: 0;  
  }

  80%{
    width: 15%;
  }

  100%{
    opacity: 1;
    width: 12%;  
  }
}

@keyframes showDelay{
  to{
    opacity: 1;
  }
}

@keyframes move-in-right{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes move-in-right-with-scale{
  0%{
    opacity: 0;
    transform: translateX(100px) scale(0);
  }

  100%{
    opacity: 1;
    transform: translate(0) scale(1);
  }
}







