// Styling for the masthead
header.masthead {
    padding-top: 8rem;
    height: 100vh; 
        .masthead-subheading {
            font-size: 1.3rem;        
            line-height: 1.5rem;
            margin-bottom: 25px;
            font-family: 'SF Mono';
            color: $text-color;
        }
        
        .masthead-heading {
            font-size: 80px;
            font-weight: 700;      
            margin: 1rem 0 3rem 0;
            font-family: 'Calibre';
            color: $text-active-color;

            &::after{
                content: '';
                display: block;
                width: 0%;
                height: 10px;
                background: $yellow-color;   
                animation: underline-animation 1.5s forwards ease-in-out;
            }        
        }

        .masthead-link{
            width: 145px;        
            border-bottom: 3px transparent solid;
            transition: border-color 0.5s;
            margin-top: 5rem;
            
            &:hover{           
                color: $yellow-color;
                border-bottom: 3px solid $yellow-color;
                cursor: pointer;
            }     
            
            h2{
                color: $yellow-color;    
                margin: 0 !important;       
            }
        
        } 

        h3{
            font-size: 60px;
            line-height: 1.1;
            font-weight: bold;
            color: $grey-color;       
        }
     
        .introduction{
            color: $grey-color;
            margin-top: 2rem;
            width: 500px;
            font-family: 'Calibre';              

        }

        .button{
            text-decoration: none !important;
        }

        .fa-arrow-right{
            color: $yellow-color;   
            padding-bottom: 5px;   
        }    
}


@media(max-width: 768px) {  
    header.masthead {        
        padding-top: 4rem; 
        padding-bottom: 4rem;     
        height: 100%;
        .introduction{
            width: 400px;             
        }        
    }     
}
