.portfolio{    
    padding: 3rem 15rem;
    background-color: $dark-grey;   
    &-item{
        background-color: $grey-color-light;
        border-radius: 3px;
        height:450px;
        transition: all .2s;      
        &:hover{
            transform: translateY(-7px);           
        }

        &-caption{
            height: 80%;
        }
    }
}



.fa-external-link-alt,.fa-github{
    &:hover{
        color:white;
        transition: 0.5s;
        cursor: pointer;
    }
}

@media(max-width:600px){
    .portfolio{
        padding: 3rem 0;
        &-item{           
            height: 350px;
        }
    }    
}

@media(max-width:900px){
    #portfolio{      
        padding: 2rem 1rem;            
    }    
    .portfolio{
        &-item{
            height: 350px;
        }
    }
}
