@charset "UTF-8";
#mainNav {
  padding-top: 2rem;
  display: none;
}

#mainNav img {
  width: 60px;
  height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}

#mainNav .nav-item {
  padding-right: 3rem;
}

#mainNav .nav-item .nav-link {
  color: #999aa2;
  font-size: 1.5rem;
  padding: 0 !important;
  border-bottom: 3px transparent solid;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  font-family: 'SF Mono';
}

#mainNav .nav-item .nav-link:hover {
  border-color: #ffc25c;
  color: #ffffff;
}

#mainNav .active {
  color: #ffffff !important;
}

@media (max-width: 600px) {
  #mainNav {
    display: block;
  }
}

@media (max-width: 900px) {
  #vertical-nav {
    display: none;
  }
}

.wrapper {
  min-height: 100vh;
  font-weight: 300;
  color: #fff;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 100px 30px;
}

.nav__wrapper {
  position: fixed;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__counter {
  font-size: 24px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

.nav li {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}

.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}

.nav li a {
  display: block;
  padding: 0;
  color: #fff;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  text-decoration: none;
}

.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}

.nav li a:focus {
  background-color: transparent;
}

.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}

.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}

.nav li.active .nav__counter {
  font-size: 48px;
}

.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}

.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}

header.masthead {
  padding: 0 5rem 0 20rem;
  height: 100vh;
}

header.masthead .masthead-subheading {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: 'SF Mono';
  color: #999aa2;
}

header.masthead .masthead-heading {
  font-size: 80px;
  font-weight: 700;
  margin: 1rem 0 3rem 0;
  font-family: 'Calibre';
  color: #EAEBEC;
}

header.masthead .masthead-heading::after {
  content: '';
  display: block;
  width: 0%;
  height: 10px;
  background: #ffc25c;
  -webkit-animation: underline-animation 1.5s forwards ease-in-out;
          animation: underline-animation 1.5s forwards ease-in-out;
}

header.masthead .masthead-link {
  width: 145px;
  border-bottom: 3px transparent solid;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  margin-top: 5rem;
}

header.masthead .masthead-link:hover {
  color: #ffc25c;
  border-bottom: 3px solid #ffc25c;
  cursor: pointer;
}

header.masthead .masthead-link h2 {
  color: #ffc25c;
  margin: 0 !important;
}

header.masthead h3 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: bold;
  color: #8892b0;
}

header.masthead .introduction .introduction-subtitle {
  color: #8892b0;
  margin-top: 2rem;
  width: 500px;
  font-family: 'Calibre';
}

header.masthead .button {
  text-decoration: none !important;
}

header.masthead .fa-arrow-right {
  color: #ffc25c;
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  header.masthead {
    padding: 4rem 0;
    height: 100%;
  }
  header.masthead .introduction {
    margin-top: 4em;
  }
}

.about-section {
  height: 100vh;
  background-color: #252734;
  z-index: -10;
  position: relative;
}

.about-section .skills p {
  font-family: "SF Mono";
  font-size: 15px;
  color: #8892b0;
  margin: 0 !important;
  padding-bottom: 13px;
}

.about-section .skills p::before {
  content: "▹";
  color: #EAEBEC;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.about-section .image-container {
  position: relative;
}

.about-section .image-container .profile {
  width: 300px;
  border-radius: 3px;
}

.about-section .image-container:before {
  border: 3px solid #ffc25c;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translate3d(26px, 26px, -26px);
          transform: translate3d(26px, 26px, -26px);
}

@media (max-width: 768px) {
  .about-section {
    height: 100%;
    padding: 4rem 0;
  }
  .about-section .image-container {
    margin-top: 2rem;
  }
}

#experience {
  padding: 3rem 0;
}

#experience ul {
  padding: 50px 0;
}

#experience ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #ffffff;
  border-radius: 3px;
}

#experience ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background-color: inherit;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

#experience ul li:nth-child(odd) div {
  left: 40px;
  -webkit-transform: translate(200px, 0);
          transform: translate(200px, 0);
}

#experience ul li:nth-child(even) div {
  left: -434px;
  -webkit-transform: translate(-200px, 0);
          transform: translate(-200px, 0);
}

#experience ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #252734 transparent transparent;
}

#experience ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #252734;
}

#experience ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background-color: #252734;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

#experience ul li div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

#experience ul li div h3 {
  color: #8892b0;
}

#experience ul li.show div {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

#experience ul li.show:after {
  background: #252734;
}

@media (max-width: 900px) {
  #experience ul li div {
    width: 250px;
  }
  #experience ul li:nth-child(even) div {
    left: -284px;
  }
  #experience ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #252734 transparent transparent;
  }
}

@media (max-width: 600px) {
  #experience ul li {
    margin-left: 20px;
  }
  #experience ul li:nth-child(even) div {
    left: 40px;
  }
  #experience ul li div {
    width: calc(100vw - 90px);
  }
}

.portfolio {
  padding: 3rem 0;
  background-color: #252734;
}

.portfolio-item {
  background-color: #424657;
  border-radius: 3px;
  height: 350px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.portfolio-item:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.portfolio-item-caption {
  height: 80%;
}

.fa-external-link-alt:hover, .fa-github:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .portfolio-item {
    height: 450px;
  }
}

.contact {
  height: 100vh;
}

.contact .email {
  color: #ffc25c;
}

.heading {
  margin: 0 !important;
  color: #EAEBEC;
  font-weight: 600;
  letter-spacing: 2px;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider-line {
  width: 15px;
  height: 2px;
  margin: 0 15px 8px 0;
  background-color: #8892b0;
}

span.wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  /* The following four values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  /* The following four values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes underline-animation {
  to {
    width: 12%;
  }
}

@keyframes underline-animation {
  to {
    width: 12%;
  }
}

.social-buttons {
  margin-top: 6rem;
}

.social-buttons i {
  margin-right: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-buttons i:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #ffffff;
  cursor: pointer;
}

@font-face {
  font-family: 'Calibre';
  src: url("../dist/fonts/Calibre/Calibre-Regular.woff2") format("woff2"), url("dist/fonts/Calibre/Calibre-Regular.woff") format("woff"), url("../dist/fonts/Calibre/Calibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("../dist/fonts/Calibre/Calibre-Semibold.woff2") format("woff2"), url("dist/fonts/Calibre/Calibre-SemiBold.woff") format("woff"), url("dist/fonts/Calibre/Calibre-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url("../dist/fonts/SFMono/SFMono-Regular.woff2") format("woff2"), url("dist/fonts/SFMono/SFMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  background: #333646;
  color: #999aa2;
  line-height: 1.3;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  line-height: 1.1;
}

a {
  color: #999aa2;
}

a a:hover, a a:active, a a:focus, a a:visited {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */